.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--dark-shades);
  border-radius: 10px;
  color: var(--dark-shades);
}

.picture {
  border-radius: 10px 10px 0 0;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover; /* cover обрезает fill заполнят*/
  object-position: 25% 10%; /* проблема в том что для каждой картинки как будто бы надо выставить индивидуально */
}

.favorite-container {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
}

.bot {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
  padding: 0 0.5rem 0 0.5rem;
  font-size: var(--card-description-font-size);
}

.link,
.link:hover {
  text-decoration: none;
  color: var(--dark-shades);
}

.name {
  padding-top: 0.4rem;
  font-size: var(--paragraph-font-size);
  font-weight: 600;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.class {
  color: var(--dark-accent);
}

.muscles {
  padding-left: 1rem;
}
