.brief {
  border-radius: 1rem;
  box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.4);
}

.briefInner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* .briefExerciseType {
}

.briefEquipment {
}

.briefDifficulty {
}

.briefMuscles {
} */

.briefFavoriteButton {
  width: fit-content;
  padding: 0.2rem 0.1rem;
  font-size: inherit;
  align-self: flex-end;
}

.briefList {
  padding-left: 1rem;
}
